html,body{margin:0;padding:0;}
html,body,div,span,h1,h2,h3,h4,h5,h6,p,input,a{margin:0;padding:0;}
ul,ol{list-style:none;}
img{width:100%;display:block;}
a{text-decoration:none;}
.clearfix{*zoom:1;}
.clearfix:after{display:table;clear:both;content:'';}
.fl{float:left;}
.fr{float:right;}
